# Railway environment variables
SPRING_PROFILES_ACTIVE=railway
DATABASE_URL=jdbc:mysql://localhost:3306/pythonmaster?useSSL=false&serverTimezone=UTC&characterEncoding=utf8&allowPublicKeyRetrieval=true
DATABASE_USERNAME=root
DATABASE_PASSWORD=262006thanh
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
